In [18]:
import pandas

In [23]:
data = pandas.read_excel("https://nasdaqbaltic.com/statistics/en/shares?download=1")

In [24]:
myExel = pandas.read_excel("/Users/macbook/Desktop/Python/DataFiles/2023-04-06/shares_20230413.xlsx")

In [25]:
myExel

,Ticker,Name,ISIN,Currency,MarketPlace,List/segment,Average Price,Open Price,High Price,Low Price,Last close Price,Last Price,Price Change(%),Best bid,Best ask,Trades,Volume,Turnover,Industry,Supersector
0,AIR,Airobot Technologies,EE3100092792,EUR,TLN,First North Baltic Share List,3.953958,3.950,3.970,3.950,3.950,3.950,NaN,3.950,3.970,3.0,96.0,379.580,Industrials,Construction and Materials
1,AMG1L,Amber Grid,LT0000128696,EUR,VLN,Baltic Secondary List,1.240000,1.240,1.240,1.240,1.240,1.240,NaN,1.230,1.240,4.0,169.0,209.560,Energy,Energy
2,APG1L,Apranga,LT0000102337,EUR,VLN,Baltic Main List,2.696282,2.700,2.705,2.690,2.700,2.700,NaN,2.695,2.700,116.0,26466.0,71359.795,Consumer Discretionary,Retail
3,ARC1T,Arco Vara,EE3100034653,EUR,TLN,Baltic Main List,1.772684,1.775,1.780,1.770,1.775,1.775,NaN,1.770,1.775,35.0,326.0,577.895,Real Estate,Real Estate
4,AUG1L,AUGA group,LT0000127466,EUR,VLN,Baltic Main List,0.447497,0.448,0.449,0.445,0.447,0.448,0.22,0.445,0.448,70.0,3004.0,1344.281,Consumer Staples,"Food, Beverage and Tobacco"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,VBL1L,Vilniaus baldai,LT0000104267,EUR,VLN,Baltic Secondary List,7.000000,7.000,7.000,7.000,7.000,7.000,NaN,6.900,7.000,5.0,7.0,49.000,Consumer Discretionary,Consumer Products and Services
71,VEF1R,VEF,LV0000101079,EUR,RIG,Baltic Secondary List,5.150000,5.150,5.150,5.150,5.600,5.150,-8.04,5.150,5.450,8.0,50.0,257.500,Real Estate,Real Estate
72,VIRSI,VIRŠI-A,LV0000101848,EUR,RIG,First North Baltic Share List,4.499751,4.490,4.510,4.490,4.490,4.500,0.22,4.500,4.510,47.0,4695.0,21126.330,Consumer Discretionary,Retail
73,VLP1L,Vilkyškių pieninė,LT0000127508,EUR,VLN,Baltic Main List,5.101429,5.100,5.120,5.100,5.120,5.100,-0.39,5.080,5.120,15.0,882.0,4499.460,Consumer Staples,"Food, Beverage and Tobacco"
74,ZMP1L,Žemaitijos pienas,LT0000121865,EUR,VLN,Baltic Secondary List,NaN,1.810,NaN,NaN,1.810,1.810,NaN,1.800,1.810,NaN,NaN,NaN,Consumer Staples,"Food, Beverage and Tobacco"

In [26]:
data

,Ticker,Name,ISIN,Currency,MarketPlace,List/segment,Average Price,Open Price,High Price,Low Price,Last close Price,Last Price,Price Change(%),Best bid,Best ask,Trades,Volume,Turnover,Industry,Supersector
0,AIR,Airobot Technologies,EE3100092792,EUR,TLN,First North Baltic Share List,3.953958,3.950,3.970,3.950,3.950,3.950,NaN,3.950,3.970,3.0,96.0,379.580,Industrials,Construction and Materials
1,AMG1L,Amber Grid,LT0000128696,EUR,VLN,Baltic Secondary List,1.240000,1.240,1.240,1.240,1.240,1.240,NaN,1.230,1.240,4.0,169.0,209.560,Energy,Energy
2,APG1L,Apranga,LT0000102337,EUR,VLN,Baltic Main List,2.696282,2.700,2.705,2.690,2.700,2.700,NaN,2.695,2.700,116.0,26466.0,71359.795,Consumer Discretionary,Retail
3,ARC1T,Arco Vara,EE3100034653,EUR,TLN,Baltic Main List,1.772684,1.775,1.780,1.770,1.775,1.775,NaN,1.770,1.775,35.0,326.0,577.895,Real Estate,Real Estate
4,AUG1L,AUGA group,LT0000127466,EUR,VLN,Baltic Main List,0.447497,0.448,0.449,0.445,0.447,0.448,0.22,0.445,0.448,70.0,3004.0,1344.281,Consumer Staples,"Food, Beverage and Tobacco"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,VBL1L,Vilniaus baldai,LT0000104267,EUR,VLN,Baltic Secondary List,7.000000,7.000,7.000,7.000,7.000,7.000,NaN,6.900,7.000,5.0,7.0,49.000,Consumer Discretionary,Consumer Products and Services
71,VEF1R,VEF,LV0000101079,EUR,RIG,Baltic Secondary List,5.150000,5.150,5.150,5.150,5.600,5.150,-8.04,5.150,5.450,8.0,50.0,257.500,Real Estate,Real Estate
72,VIRSI,VIRŠI-A,LV0000101848,EUR,RIG,First North Baltic Share List,4.499751,4.490,4.510,4.490,4.490,4.500,0.22,4.500,4.510,47.0,4695.0,21126.330,Consumer Discretionary,Retail
73,VLP1L,Vilkyškių pieninė,LT0000127508,EUR,VLN,Baltic Main List,5.101429,5.100,5.120,5.100,5.120,5.100,-0.39,5.080,5.120,15.0,882.0,4499.460,Consumer Staples,"Food, Beverage and Tobacco"
74,ZMP1L,Žemaitijos pienas,LT0000121865,EUR,VLN,Baltic Secondary List,NaN,1.810,NaN,NaN,1.810,1.810,NaN,1.800,1.810,NaN,NaN,NaN,Consumer Staples,"Food, Beverage and Tobacco"